{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>File_Transfer.com</title>
  <link rel="stylesheet" href="{% static 'myapp/style2.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <style>
    .background {
      width: 100%;
      height: 100vh;
      background: url('{% static 'myapp/background.jpg' %}') no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(10px);
    }

    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 75%;
      height: 550px;
      background: url('{% static 'myapp/background.jpg' %}') no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-top: 20px;
  }
  </style>

</head>
<body>
  <header class="header">
    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Service</a>
      <a href="#">Contact</a>
    </nav>

    <form action="#" class="search-bar">
      <input type="text" placeholder="Search">
      <button type="submit"><i class='bx bx-search'></i></button>
    </form>
  </header>

  <div class="background"></div>
  {% comment %} <img src="{% static 'myapp/background.jpg' %}" alt="My Image" background-size: cover> {% endcomment %}

  <div class="container">
    <div class="row">
    <div class="col-sm-6">
    <div class="content">
      <h2 class="logo"><i class='bx bxl-firebase' ></i>File Transfer</h2>

      <div class="text-sci">
        <h2>Welcome! To our Website</spam></h2>
        <br>
        

        <div class="social-icons">
          <a href="#"><i class='bx bxl-linkedin' ></i></a>
          <a href="#"><i class='bx bxl-facebook' ></i></a>
          <a href="#"><i class='bx bxl-instagram' ></i></a>
          <a href="#"><i class='bx bxl-twitter' ></i></a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm-6">
    <div class="logreg-box">
      <div class="form-box login">
        <form id="signin-form" method="post">
          {% csrf_token %}
          <h2>Sign In</h2>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope' ></i></span>
            {% comment %} <input type="text" required> {% endcomment %}
            <input type="email" class="form-control form-control-sm" id="email" name="email" aria-describedby="emailHelp" required>           
            <label>Email</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
            {% comment %} <input type="password" required> {% endcomment %}
            <input type="password" class="form-control form-control-sm" id="password" name="password" required>
            <label>Password</label>
          </div>

          <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forget Password?</a>
          </div>

          {% comment %} <button type="submit" class="btn"></button> {% endcomment %}
          <button type="submit" class="btn btn-primary btn-block">Submit</button>

          <div class="login-register">
            <p>Don't have an account?<a href="#" class="register-link">SignUp</a></p>

          </div>
        </form>
      </div>
    </div>
    </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        $(document).ready(function() {
          $('#signin-form').submit(function(e) {
            e.preventDefault();
            var email = $('#email').val();
            var password = $('#password').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
              type: 'POST',
              url: '/auth/',
              headers: {
                "X-CSRFToken": csrf_token
              },
              data: {
                'email': email,
                'password': password
              },
              success: function(response) {
                if (response.status == 'Success') {
                  console.log('success');
                  window.location.href = "/home/";
                } else {
                  window.location.href = "/index/";
                }
              },
              error: function(response) {
                console.log('Error uploading video:', error);
              }
            });
          });
        });
      </script> {% csrf_token %}

  </body>
</html>